<footer *ngIf="exibirFooter">
    <div class="container-fluid p-3 footer-main d-none d-sm-block">
         <div class="row justify-content-center">
 
             <div class="col-sm-5">
                     <a href="/" class="d-flex justify-content-end pt-3 pr-5">
                         <img class="brasao-imagem" alt="Ponto do camarão" src="../../assets/img/logos/logo_footer.png">
                     </a>
             </div>
             <div class="col-sm-2 d-flex flex-column">
                 <a href="/sobre" class="footer-cor">Sobre nós</a>
                 <a href="/termos" class="footer-cor">Termos de uso</a>
                 <a href="/departamentos" class="footer-cor">Departamentos</a>
                 <a href="/perguntas" class="footer-cor">Perguntas Frequentes</a>
                 <p class="footer-versao">Versão: 1.0</p>
             </div>
             <div class="col-sm-5 d-flex flex-column">            
                     <a href="/contato" class="footer-cor">Entre em contato</a>
                     <img class="pagamento p-1" src="../../assets/img/test/payment_method.png" alt="Visa, MasterCard, Hipercard">
                     <div class="d-flex flex-row">
                         <a class="p-2" href="https://www.facebook.com/Cear%C3%A1-Pescados-103353121603979" target="_blank" rel="noopener noreferrer">
                                 <i class="fab fa-facebook-square footer-redes-img fa-2x"></i>
                         </a>
                         <a class="pt-2 pl-0" href="https://www.instagram.com/cearapescadosoficial/?hl=pt-br" target="_blank" rel="noopener noreferrer">
                             <i class="fab fa-instagram footer-redes-img fa-2x"></i>
                         </a>
                     </div>            
             </div>
         </div>        
     </div>
 
     <div class="d-block d-sm-none">
             <div class="d-flex flex-column footer-mobile p-3">
                 <a class="p-1" href="/">
                     <img class="brasao-imagem-mobile" alt="Ponto do camarão" src="../../assets/img/camarao/Logo_pontocamarao1.png">
                 </a>
                 <div class="d-flex flex-row p-1">
                     <a href="/sobre" class="footer-cor">Sobre nós</a>
                     <p class="footer-cor">  |  </p>
                     <a href="/contato" class="footer-cor">Entre em contato</a>
                 </div>
                 <div class="d-flex flex-row">
                     <a class="pr-2" href="https://www.facebook.com/Ponto-Do-Camar%C3%A3o-440943716300963/" target="_blank" rel="noopener noreferrer">
                         <i class="fab fa-facebook-square fa-2x footer-mobile-redes-img"></i>
                     </a>
                     <a href="https://www.instagram.com/pontocamarao/?fbclid=IwAR3C-P9eTRkjvbIRfCf9W_LAJa56vIoM8msNRsngyQFKo7hGCpNDTs_l6Qs" target="_blank" rel="noopener noreferrer">
                         <i class="fab fa-instagram fa-2x footer-mobile-redes-img"></i>
                     </a>
                 </div>
 
             </div>
     </div>
 </footer>
 